NVIDIA_API_KEY=

OPENAI_API_KEY=
OPENAI_BASE_URL=
OPENAI_MODEL=

HF_TOKEN=
EMBEDDING_MODEL=

QDRANT_HOST=
QDRANT_PORT=
QDRANT_COLLECTION=

RETRIEVAL_TOP_K=
RERANKING_TOP_K=
SCORE_THRESHOLD=

OFFER_ANALYSIS_SYSTEM_PROMPT_PATH=
RERANKING_SYSTEM_PROMPT_PATH=
PLAN_WRITING_SYSTEM_PROMPT_PATH=
COVER_LETTER_WRITING_SYSTEM_PROMPT_PATH=

COMPLETE_EXPERIENCES_FILEPATH=
PERSONAL_FACTS_FILEPATH=